[Unit]
Description=Consul client
After=coreos-metadata.service docker.service
Requires=coreos-metadata.service docker.service

[Service]
EnvironmentFile=/run/metadata/coreos
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill consul-client
ExecStartPre=-/usr/bin/docker rm consul-client
ExecStartPre=/usr/bin/docker pull consul
ExecStartPre=/opt/gen_consul_conf.sh
ExecStart=/usr/bin/docker run \
            --net host \
            --env 'CONSUL_ALLOW_PRIVILEGED_PORTS=' \
            --name consul-client \
            -v /etc/consul.json:/etc/consul.json \
            consul agent -config-file /etc/consul.json

[Install]
WantedBy=multi-user.target
