[Unit]
Description=Nomad Client
After=coreos-metadata.service docker.service
Requires=coreos-metadata.service docker.service

[Service]
TimeoutStartSec=0
Environment=NOMAD_VERSION=0.8.6
EnvironmentFile=/run/metadata/coreos
ExecStartPre=-/usr/bin/docker kill nomad-client
ExecStartPre=-/usr/bin/docker rm nomad-client
ExecStartPre=/usr/bin/touch /etc/docker-auth.json
ExecStartPre=/usr/bin/docker pull thepeak/nomad:${NOMAD_VERSION}
ExecStartPre=/opt/gen_nomad_conf.sh
ExecStart=/usr/bin/docker run \
            -v /tmp:/tmp \
            -v /var/run/docker.sock:/var/run/docker.sock \
            -v /etc/docker-auth.json:/etc/docker-auth.json \
            -v /etc/nomad.conf:/etc/nomad.conf \
            -v /var/lib/nomad:/var/lib/nomad \
            --net host \
            --name nomad-client \
            --privileged \
            thepeak/nomad:${NOMAD_VERSION} agent -config /etc/nomad.conf

[Install]
WantedBy=multi-user.target
