[Unit]
Description=Nomad Server
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill nomad-server
ExecStartPre=-/usr/bin/docker rm nomad-server
ExecStartPre=/usr/bin/docker pull thepeak/nomad
ExecStart=/usr/bin/docker run \
            -v /var/lib/nomad:/var/lib/nomad \
            -v /var/run/docker.sock:/var/run/docker.sock \
            --net host \
            --name nomad-server \
            thepeak/nomad agent \
              -server \
              -bootstrap-expect=${num_masters} \
              -data-dir=/var/lib/nomad

[Install]
WantedBy=multi-user.target
